<div>
  <%= form_for @image, :html => { :multipart => true } do |f| %>
    <%= f.object.errors.full_messages %>
    <br />
    <%= file_field(:image, :image) %>
    <br />
    <%= f.submit %>
  <% end %>
</div>
